body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.flexible-container {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    margin-bottom: 100px;
}

.order-food {
    margin-left: 15px;
}

.half-width h1 {
    height: 50px;
    font-size: 50px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.756);
}

.orange-color {
    color: tomato;
}

.half-width {
    width: 50%;
}

.mega-star {
    width: 80%;
    padding-left: 10%;
}

.half-width p {
    width: 70%;
    margin-bottom: 40px;
    color: rgb(97, 95, 95);
}


.button-color {
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 700;
    color: white;
}

#about {
    margin-top: 80px;
}

#about p {
    margin-bottom: 100px;
}

.about-me {
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#my-recipies {
    text-align: center;
    width: 40%;
    padding-left: 30%;
}

.cake-chocolate {
    width: 90%;
    height: 300px;
    margin: 0;
    border-radius: 15px;
}

.recipie-item {
    width: 40%;
    margin-top: 0%;
    margin-left: 5%;
    padding-bottom: 40px;
    padding-top: 30px;
    padding-left: 30px;
    box-shadow: 10px 10px 20px 15px gray;
    border-radius: 20px;
}

.social-media {
    display: flex;
    width: 72%;
    margin-left: 14%;
    margin-bottom: 100px;
    box-shadow: 10px 10px 20px 15px gray;
    border-radius: 20px;
}

.social-follower {
    margin-left: 10%;
    margin-right: 100px;
    padding-bottom: 40px;
}

.footer-end {
    text-align: center;
    margin-top: 10%;
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url(images/shapes/navy-blue-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    color: white;
    font-size: 15px;
}

.about-recipie {
    font-size: 30px;
    font-weight: 900;
    color: rgba(19, 16, 16, 0.812);
}

.recipie-item h2 {
    color: rgba(0, 0, 0, 0.915);
    font-weight: bolder;
    font-size: 35px;
}

.social-media h1 {
    color: rgb(55, 51, 51);
    font-size: 40px;
    font-weight: 900;
}

#gray-color {
    color: gray;
}